/*botão voltar*/

.postContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
   box-sizing: border-box;
    position: relative;
    
    
    
}



.buttonVoltar {
    border: none;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
     z-index: 2; 
    
   
}

.voltar {
    border: solid 1px black;

}